<div class="center jumbotron">
  <h2>Welcome to the Sample App</h2>

  <h3>
    This is the home page for the Ruby on Rails Tutorial sample application. <br> dev: 
    <a href="https://github.com/Gembirdy">@Gembirdy</a>
    
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo", size: '140x180'), 'http://rubyonrails.org/' %>